<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1084451587591-42rj6qrps6sel9s7a0oeccdakvj6fd87.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1084451587591-42rj6qrps6sel9s7a0oeccdakvj6fd87</string>
	<key>API_KEY</key>
	<string>AIzaSyAq2f-092pM0ohSBRA-5D7YgJg5FfpexcU</string>
	<key>GCM_SENDER_ID</key>
	<string>1084451587591</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cogwheelAdmin.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>moca-fmc</string>
	<key>STORAGE_BUCKET</key>
	<string>moca-fmc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1084451587591:ios:513b471fd02ef3e8948ca2</string>
</dict>
</plist>